[submodule "plugins/jmcomic-integrate"]
	path = plugins/jmcomic-integrate
	url = https://github.com/UnnamedNcatplugins/jmcomic-integrate
	branch = master
[submodule "plugins/image-search-integrate"]
	path = plugins/image-search-integrate
	url = https://github.com/UnnamedNcatplugins/image-search-integrate
	branch = master
[submodule "plugins/cm-integrate"]
	path = plugins/cm-integrate
	url = https://github.com/UnnamedNcatplugins/cm-integrate
	branch = master
[submodule "plugins/pixiv-integrate"]
	path = plugins/pixiv-integrate
	url = https://github.com/UnnamedNcatplugins/pixiv-integrate
	branch = master
[submodule "plugins/simple-chatbot"]
    path = plugins/simple-chatbot
    url = https://github.com/UnnamedNcatplugins/simple-chatbot
    branch = master